* {
    background-color: rgb(0, 28, 28);
    color: whitesmoke;
    padding: 10;
    margin: 20;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background: rgb(0, 28, 28);
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 25px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background: rgb(0, 28, 28);
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.profilepic img {
    float: right;
    padding: 20px;
    border-radius: 50%;
    border: 4px solid teal;
}

#landing {
    background: url('bg1.jpg') no-repeat center center;
    background-size: cover;
    height: calc(100vh - 80px);
    padding: 100px 30px 30px 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#landing p {
    font-size: 44px;
    padding: 10px;
}

#landing img {
    padding: 15px;
    max-width: 100%;
    height: auto;
}

#about p {
    font-size: 26px;
}

legend {
    font-size: 44px;
    font-weight: bold;
    color: rgb(2, 166, 166);
}

fieldset {
    padding: 20px;
    border: 1px solid teal;
}

.project {
    padding: 30px;
}

.project img {
    float: right;
    border: 2px solid teal;
}

.project ul li{
    font-size: 22px;
}

.project ol li{
    font-size: 22px;
}

.project p{
    font-size: 22px;
}

#contact ul li {
    display: inline-block;
    padding: 10px;
}

#contact label {
    font-size: 22px;
}

button {
    border: 4px solid teal;
    box-shadow: none;
}

input, textarea {
    border: 2px solid teal;
}

h2 {
    text-decoration: underline;
    font-size: 28px;
    color: rgb(2, 166, 166);
}

h3 {
    text-decoration: underline;
    font-size: 22px;
    color: rgb(2, 166, 166);
}

#socialmedia a{
    font-size: 22px;
}

footer p {
    color: rgb(2, 166, 166);
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(0, 28, 28);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a.active {
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

@media (max-width: 600px) {
    #landing p {
        font-size: 32px;
        padding: 5px;
    }

    legend {
        font-size: 32px;
    }
}
